.ipynb_checkpoints
.snakemake
__pycache__
.DS_Store
.idea
umccrise/panel_of_normals/hg38ToHg19.over.chain.gz
build/
dist/
*.egg-info/
playground
.vscode/
umccrise_test_data
.RData
.Rhistory
load_umccrise.sh
miniconda/
.vagrant
*.log
envs/src/
*.retry

.circleci
umccrise/multiqc/gold_standard/final.subset/
umccrise/rmd_files/purple_bcbio_umccrise.PlusBU.Rmd
