[submodule "gridss-purple-linx"]
	path = gridss-purple-linx
	url = https://github.com/vladsaveliev/gridss-purple-linx
[submodule "gridss"]
	path = gridss
	url = git@github.com:vladsaveliev/gridss.git
