.snakemake
__pycache__
.DS_Store
.idea
umccrise/panel_of_normals/hg38ToHg19.over.chain.gz
build/
dist/
*.egg-info/
work
playground
.vscode/
umccrise_test_data
.RData
.Rhistory
load_umccrise.sh
miniconda/
