{# #######################
  header.html
##########################

This block gives the introduction content at the top of each report.
That is, the page title, welcome message, details of where the report
was generated and the button that launches the welcome tour.

#}

<style type="text/css">{{ include_file('assets/css/multiqc_umccr.css') }}</style>

<script>
    let regex_mode = true;

    let f_texts = [];
    let f_cols = [];
    {% if config.umccr.batch %}
    f_texts.push("^{{ config.umccr.tumor_name }}$");
    f_texts.push("^{{ config.umccr.tumor_rgid }}$");
    f_texts.push("^{{ config.umccr.tumor_rgid }} \\({{ config.umccr.batch }}\\)$");
    f_texts.push("^{{ config.umccr.normal_name }}$");
    f_texts.push("^{{ config.umccr.normal_rgid }}$");
    f_texts.push("^{{ config.umccr.normal_rgid }} \\({{ config.umccr.batch }}\\)$");
    f_cols.push("rgb(228, 26, 28)");
    f_cols.push("rgb(228, 26, 28)");
    f_cols.push("rgb(228, 26, 28)");
    f_cols.push("rgb(55, 126, 184)");
    f_cols.push("rgb(55, 126, 184)");
    f_cols.push("rgb(55, 126, 184)");
    {% endif %}

    let bg_texts = [];
    let bg_cols = [];
    {% for ref_sample in config.umccr.reference_samples %}
    bg_texts.push("^{{ ref_sample }}$");
    bg_cols.push("rgb(203,203,203)");
    {% endfor %}

    window.mqc_highlight_f_texts = f_texts;
    window.mqc_highlight_f_cols = f_cols;
    window.mqc_highlight_regex_mode = regex_mode;

    $(function(e, regex_mode){
      $('.mqc_table_sortHighlight').hide();
      $('.mqc_table tbody th')
          .removeClass('highlighted')
          .removeData('highlight')
          .each(function(i) {
        var th = $(this);
        var thtext = $(this).text();
        var thiscolor = (this).css('color');
        $.each(f_texts, function(idx, f_text){
          if((window.mqc_highlight_regex_mode && thtext.match(f_text))
              || (!window.mqc_highlight_regex_mode && thtext.indexOf(f_text) > -1)){
            thiscolor = f_cols[idx];
            th.addClass('highlighted').data('highlight', idx);
            $('.mqc_table_sortHighlight').show();
            $(this).css('color', thiscolor);
          }
        });
        $.each(bg_texts, function(idx, f_text){
          if((window.mqc_highlight_regex_mode && thtext.match(f_text))
              || (!window.mqc_highlight_regex_mode && thtext.indexOf(f_text) > -1)){
            thiscolor = f_cols[idx];
            $(this).css('color', thiscolor);
          }
        });
      });
    });

    // $(function () { fastqc_seq_content_heatmap(); });

    $(function(){
      // Replot graphs
      $('.hc-plot:not(.not_rendered)').each(function(){
        var target = $(this).attr('id');
        plot_graph(target);
      });
    });
</script>

<h1 id="page_title">
  <a class="pull-right" href="https://umccr.github.io/" target="_blank">
    <img src="data:image/png;base64,{{ include_file('assets/img/umccr_logo.jpeg', b64=True) }}" title="UMCCR" height="80">
  </a>
  <a href="http://multiqc.info" target="_blank">
    <img src="data:image/png;base64,{{ include_file('assets/img/MultiQC_logo.png', b64=True) }}" title="MultiQC">
  </a>
</h1>

{% if config.report_comment and config.report_comment | length > 0 %}
  <blockquote class="report_comment">{{ config.report_comment }}</blockquote>
{% endif %}


<div class="well">
    <dl class="dl-horizontal" style="margin-bottom:0;">
      {% if config.title %}
        {{ '<dt>Project:</dt><dd>' + config.title + '</dd>' }}
      {% endif %}
      {% if config.umccr %}
        {% if config.umccr.run_section %}
          {{ '<dt>Creation date:</dt><dd>' + config.umccr.run_section.run_date
            + (('&nbsp;&nbsp;|&nbsp;&nbsp;' + config.umccr.run_section.program_versions) if config.umccr.run_section.program_versions else '')
            + (('&nbsp;&nbsp;|&nbsp;&nbsp;' + config.umccr.run_section.data_versions) if config.umccr.run_section.data_versions else '')
            + '</dd>'
          }}
        {% endif %}
      {% endif %}
    </dl>
</div>

{% if config.umccr %}
<div style="margin-left: 5px; margin-bottom: 5px;">
    <!-- {{ '<b>Mutations:</b>&nbsp;&nbsp;' + '&nbsp;&nbsp;|&nbsp;&nbsp;'.join(report.umccr.mutations_links) + '</br>'
        if report.umccr.mutations_links }} -->
    {{ '<b>Expression:</b>&nbsp;&nbsp;' + '&nbsp;&nbsp;|&nbsp;&nbsp;'.join(config.umccr.expression_links) + '</br>'
        if config.umccr.expression_links }}
</div>
{% endif %}

<hr id="mqc_header_hr" style="margin-bottom: 10px;">

{% if config.umccr and config.umccr.metric_names %}
<div id="general_stats_table_container" class="mqc_table_container">
    <div class="table-responsive">
        <table id="general_stats_table" class="table table-condensed mqc_table">
            <thead>
            <tr class="top_row_tr">
                <th class="rowheader header">Sample Name</th>
                {% for metric_name in config.umccr.metric_names %}
                <th class="header"><b>{{ metric_name }}</b></th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for sample_report in report.umccr.sample_reports %}
                <tr>
                    <td class="rowheader" id="{{ sample_report.sample_name }}"><a name="{{ sample_report.sample_name }}"></a>
                        {{ sample_report.sample_name }}</td>
                    {% for rec in sample_report.records %}
                        <td class=""><span {{ 'data-toggle="tooltip" title="' + rec.description + '"' if rec.description }}>
                            {{ rec.contents }}</span></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{#<hr id="mqc_header_hr">#}

{% if report.num_hc_plots > 0 and report.general_stats_data | length > config.num_datasets_plot_limit %}
<div id="mqc-warning-many-samples" class="alert alert-warning alert-dismissible hidden-print">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
  Because this report contains a lot of samples, you may need to click 'Show plot' to see some graphs.
  <button id="mqc-render-all-plots" class="btn btn-default btn-sm">Render all plots</button>
</div>
{% endif %}

<!--{{ report.umccr['sample_match_on_hover_js'] if report.umccr and 'sample_match_on_hover_js' in report.umccr }}-->
